@import "normalize";
@import "grid";
@import "themes/default/master";

.board{
	background-color: #b9def0;
	height: 100%;
	padding: 8px;
}

.commentContainer {
	background: #eee;
	border: 1px solid #ccc;
	display: inline-block;
	margin: 8px;
	padding: 10px;

	.comment {
		font-size: 1.1em;
		font-weight: 500;
		margin-bottom: 10px;
	}

	button {
		margin-right: 4px;
	}

	textarea {
		display: block;
		margin-bottom: 10px;
	}
}
